.registerCard {
  position: absolute;
  width: 30em;
  height: 34em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
}

.registerLabel {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 38px;
  text-align: center;
  color: rgb(134, 130, 130);
}

.nameLabel2 {
  position: absolute;
  left: 20%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: rgb(102, 99, 99);
}

.nameInput2 {
  position: absolute;
  left: 50%;
  top: 28%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 38px;
  background: rgb(228, 213, 230);
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  font-size: large;
}

.nameInput2:focus {
  outline: none;
  border: 2px solid #ee32ff;
}

.emailLabel2 {
  position: absolute;
  left: 20%;
  top: 38%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: rgb(102, 99, 99);
}

.emailInput2 {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 38px;
  background: rgb(228, 213, 230);
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  font-size: large;
}

.emailInput2:focus {
  outline: none;
  border: 2px solid #ee32ff;
}

.passwordLabel2 {
  position: absolute;
  left: 24%;
  top: 56%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: rgb(102, 99, 99);
}

.passwordInput2 {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 38px;
  background: rgb(228, 213, 230);
  border-radius: 10px;
  border: none;
  padding-left: 15px;
  font-size: large;
}

.passwordInput2:focus {
  outline: none;
  border: 2px solid #ee32ff;
}

.labelStyle {
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: rgb(102, 99, 99);
}

.student {
  position: absolute;
  left: 35%;
  top: 74%;
  transform: translate(-50%, -50%);
}

.teacher {
  position: absolute;
  left: 65%;
  top: 74%;
  transform: translate(-50%, -50%);
}

.submitButton2 {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 120px;
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  background: #ee32ff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease 0s;
}

.submitButton2:focus {
  outline: none;
}

.submitButton2:hover {
  outline: none;
  box-shadow: 0px 15px 20px rgba(223, 60, 245, 0.4);
  background: #d704eb;
  top: 84%;
}

.errorMessageReg {
  position: absolute;
  left: 50%;
  top: 93%;
  transform: translate(-50%, -50%);
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  color: rgb(236, 19, 19);
  width: 300px;
}

.loadingSpinner2 {
  position: absolute;
  left: 69%;
  top: 85%;
  transform: translate(-50%, -50%);
}
